{#
https://wiki.alliedmods.net/Team_Fortress_2_Item_Definition_Indexes
https://wiki.teamfortress.com/wiki/List_of_item_attributes
https://backpack.tf/category/archetype/weapon
#}

{# All variations of stock rocket launcher and direct hit. #}
{%- set primaries = [
  "18",
  "205",
  "127",
  "658", 
  "800",
  "809",
  "889",
  "898",
  "907",
  "916",
  "965",
  "974",
  "15006",
  "15014",
  "15028",
  "15043",
  "15052",
  "15057",
  "15081",
  "15104",
  "15105",
  "15129",
  "15130",
  "15150"
] -%}

{# All variations of shotgun (to make sure they're all disabled) #}
{%- set shotguns = [
  "10",
  "199",
  "1141",
  "15003",
  "15016",
  "15044",
  "15047",
  "15085",
  "15109",
  "15132",
  "15133",
  "15152"
] -%}

{# Gunboats and Mantreads (currently unused)#}
{%- set shoes = [
  "133",
  "444"
]-%}

{# All variations of stock shovel #}
{%- set melee = [
  "6",
  "196",
  "423",
  "474",
  "880",
  "939",
  "954",
  "1013",
  "1071",
  "1123",
  "1127",
  "30758"
] -%}

{# Begin template #}
"custom_weapons_v3"
{
  "*" // Apply these rules to everyone.
  {
    // Rocket launchers
{% for weapon in primaries %}
    "{{ weapon }}"
     {
       // Base settings to mimic direct hit
       "1"	"99 ; 0.3"	// Explosion radius.
       "2"	"103 ; 1.8"	// Projectile speed.
       "3"	"2 ; 1.25"	// Damage bonus.
       "4"	"114 ; 1"	// Mini-crit airborne.

       // Additional QuickGib modifications
       "5"	"4 ; 2.0"	// Double clip size.
       "6"	"26 ; -100"	// -100 health.
       "7"	"76 ; 3.0"	// Triple max ammo.
       "8"	"181 ; 2"	// No self blast damage.
       "9"	"275 ; 5"	// Disable fall damage.
     }
{% endfor %}

    // Disable shotguns since I can't blacklist them.
{% for weapon in shotguns %}
    "{{ weapon }}"
    {
      "1"	"3 ; null"	// No clip.
      "2"	"79 ; null"	// No ammo.
    }
{% endfor %}

    // Make Gunboats behave like The Mantreads.
    "133"
    {
      "1"	"252 ; 0.25"	// Damage force reduction.
      "2"	"259 ; 1"	// Boots falling stomp.
    }

    // Make all variations of stock melee behave like the market gardener.
{% for weapon in melee %}
    "{{ weapon }}"
    {
      "1"	"267 ; 1"	// Crit while airborne.
    }
{% endfor %}
  }
}
